---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkTree from "../components/LinkTree.astro";
import Spacer from "../components/Spacer.astro"

const Title = "CatPlace - Home";
const HeaderTitle = "Welocome to CatPlace";
const Description = "PolyCat's place on the web";

const Mastodon = "https://sunny.garden/@PolyCat";

const SocialLinks = [
    {
        href: "https://sunny.garden/@PolyCat",
        text: "Mastodon",
        label: "Link to PolyCat's Mastodon",
    },
    {
        href: "https://cara.app/polycat",
        text: "Cara",
        label: "Link to PolyCat's Cara",
    },
    {
        href: "https://github.com/PolyCatDev",
        text: "Github",
        label: "Link to PolyCat's Github",
    },
];

const ContactLinks = [
    {
        href: "mailto:contact.polycat@proton.me",
        text: "contact.polycat\u200B@proton.me",
        label: "Email link to contact PolyCat",
    },
];

const ProjectLinks = [
    {
        href: "https://github.com/PolyCatDev/bluecat",
        text: "BlueCat",
        label: "Link to BlueCat project",
    },
    {
        href: "https://flipper-cafe.duckdns.org/",
        text: "Flipper Cafe",
        label: "Link to Flipper Cafe database",
    },
    {
        href: "https://github.com/PolyCatDev/bash-factory",
        text: "Bash Factory",
        label: "Link to Bash Factory database",
    },
    {
        href: "https://github.com/PolyCatDev/obs-waykey",
        text: "OBS WayKey",
        label: "Link to OBS WayKey project",
    },
];
---

<Layout title={Title} description={Description}>
    <a rel="me" href={Mastodon} aria-label="Hidden Mastodon validation link"
    ></a>
    <div class="flex justify-center">
        <div class="md:flex">
            <div>
                <Header motto={Description}>{HeaderTitle}</Header>
                <div>
                    <LinkTree
                        title="You can find me here"
                        links={SocialLinks}
                    />
                    <LinkTree title="Contact me here" links={ContactLinks} />
                    <LinkTree
                        title="Here are some of my cool projects"
                        links={ProjectLinks}
                    />
                </div>
            </div>
            <div>
                <div class="m-5 p-6 bg-background-500 rounded-2xl">
                    <h2 class="text-center m-2 font-bold text-2xl">
                        Featured Video
                    </h2>
                    <iframe
                        class="rounded-2xl"
                        width="100%"
                        height="315"
                        src="https://inv.nadeko.net/embed/RzM_-YTnQo0?autoplay=0&controls=1&dark_mode=true&continue=0&quality=hd720&related_videos=false&player_style=youtube"
                        title="Featured video player"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowtransparency="yes"
                        allowfullscreen></iframe>
                </div>
                <!--૮₍´˶• . • ⑅ ₎ა  ::  /ᐠ. ｡.ᐟ\ᵐᵉᵒʷˎˊ˗  ::  /ᐠ - ˕ -マ  ::  ≽^• ˕ • ^≼></!--> 
                <Spacer>  ૮₍´˶• . • ⑅ ₎ა </Spacer>

                <div class="m-5">
                    <iframe
                        class="rounded-2xl"
                        src="https://www5.cbox.ws/box/?boxid=953460&boxtag=UrEazW"
                        width="100%"
                        height="450"
                        allowtransparency="yes"
                        allow="autoplay"
                        title="CatPlace Chat Box"></iframe>
                </div>
            </div>
        </div>
    </div>

</Layout>
