---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LinkTree from "../components/LinkTree.astro";
import Spacer from "../components/Spacer.astro";
import Iframe from "../components/Iframe.astro";
import List from "../components/List.astro";

const Title = "CatPlace - Home";
const HeaderTitle = "Welocome to JellyCat Cafe";
const Description = "PolyCat's virtual cat cafe";

const Mastodon = "https://sunny.garden/@PolyCat";

// Link Tree
const SocialLinks = [
    {
        href: "https://sunny.garden/@PolyCat",
        text: "Mastodon",
        label: "Link to PolyCat's Mastodon",
    },
    {
        href: "https://cara.app/polycat",
        text: "Cara",
        label: "Link to PolyCat's Cara",
    },
    {
        href: "https://github.com/PolyCatDev",
        text: "Github",
        label: "Link to PolyCat's Github",
    },
];

const ContactLinks = [
    {
        href: "mailto:contact.polycat@proton.me",
        text: "contact.polycat\u200B@proton.me",
        label: "Email link to contact PolyCat",
    },
];

const ProjectLinks = [
    {
        href: "https://github.com/PolyCatDev/bluecat",
        text: "BlueCat",
        label: "Link to BlueCat project",
    },
    {
        href: "https://flipper-cafe.duckdns.org/",
        text: "Flipper Cafe",
        label: "Link to Flipper Cafe database",
    },
    {
        href: "https://github.com/PolyCatDev/bash-factory",
        text: "Bash Factory",
        label: "Link to Bash Factory database",
    },
    {
        href: "https://github.com/PolyCatDev/obs-waykey",
        text: "OBS WayKey",
        label: "Link to OBS WayKey project",
    },
];

// To Do
const todoItems = [
    {
        text: "Guestbook"
    },
    {
        text: "Background Music"
    },
    {
        text: "Art Gallery"
    },
    {
        text: "Featured Music Banner",
    },
    {
        text: "Bash Factory Page"
    },
    {
        text: "Flipper Caffe Page"
    },
];
---

<Layout title={Title} description={Description} footer={true}>
    <a rel="me" href={Mastodon} aria-label="Hidden Mastodon validation link"
    ></a>
    <div class="flex justify-center">
        <div class="md:flex">
            <div>
                <Header motto={Description}>{HeaderTitle}</Header>
                <div>
                    <LinkTree
                        title="You can find me here"
                        links={SocialLinks}
                    />
                    <LinkTree title="Contact me here" links={ContactLinks} />
                    <LinkTree
                        title="Here are some of my cool projects"
                        links={ProjectLinks}
                    />
                </div>
            </div>
            <div>
                <Iframe
                    src="https://inv.nadeko.net/embed/RzM_-YTnQo0?autoplay=0&controls=1&dark_mode=true&continue=0&quality=hd720&related_videos=false&player_style=youtube&local=false"
                    title="Featred Video Player"
                    text="Featured Video"
                    height="315px"
                />
                <!--૮₍´˶• . • ⑅ ₎ა  ::  /ᐠ. ｡.ᐟ\ᵐᵉᵒʷˎˊ˗  ::  /ᐠ - ˕ -マ  ::  ≽^• ˕ • ^≼></!-->
                <Spacer> ૮₍´˶• . • ⑅ ₎ა </Spacer>

                <Iframe
                    src="https://www5.cbox.ws/box/?boxid=953460&boxtag=UrEazW"
                    title="Chat Box"
                    text="Chatbox"
                    rounded={false}
                    height="420px"
                />
                <List title="To Do" items={todoItems} />
            </div>
        </div>
    </div>
    <Footer />
</Layout>
