---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkTree from "../components/LinkTree.astro";

const Title = "PolyCat - Home";
const Description = "PolyCat's corner of the internet";
const HeaderTitle = "Welocome to PolyCat's website";

const SocialLinks = [
    { href: "https://sunny.garden/@PolyCat", text: "Mastodon" },
    { href: "https://cara.app/polycat", text: "Cara" },
    { href: "https://github.com/PolyCatDev", text: "Github" },
];

const ContactLinks = [
    {
        href: "mailto:contact.polycat@proton.me",
        text: "contact.polycat@proton.me",
    },
];

const ProjectLinks = [
    { href: "https://github.com/PolyCatDev/bluecat", text: "BlueCat" },
    { href: "https://flipper-cafe.duckdns.org/", text: "Flipper Cafe" },
    { href: "https://github.com/PolyCatDev/obs-waykey", text: "OBS WayKey" },
];
---

<Layout title={Title} description={Description}>
    <Header title={HeaderTitle} />
    <div>
        <LinkTree title="You can find me here" links={SocialLinks} />
        <LinkTree title="Contact me here" links={ContactLinks} />
        <LinkTree
            title="Here are some of my cool projects"
            links={ProjectLinks}
        />
    </div>
</Layout>

<style>
    div {
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    }

    @media (max-width: 664px) {
        div {
            flex-direction: column;
        }
    }
</style>
