---
import Layout from "../layouts/Layout.astro";
import Block from "../layouts/Block.astro";
import Header from "../components/Header.astro";
import ListElement from "../components/elements/ListElement.astro";

let websites = [
    {
        text: "AlterHomeLabs",
        href: "https://ne0nbandit.neocities.org",
    },
    {
        text: "Puppy Brained",
        href: "https://puppygirlbelly.github.io/PuppyBrained/",
    },
    {
        text: "LoveWeb",
        href: "https://loveweb.neocities.org/",
    },
    {
        text: "HTML for the People",
        href: "https://htmlforpeople.com/",
    },
    {
        text: "Cinni's Dream Home",
        href: "https://cinni.net/",
    },
    {
        text: "Korean Meme Short",
        href: "https://kakashi.neocities.org/",
    },
    {
        text: "Rotating Sandwiches",
        href: "https://rotatingsandwiches.wordpress.com/",
    },
    {
        text: "Virtual Diva",
        href: "https://adilene.net/",
    },
];

let webrings = [
    {
        text: "Transing the Web",
        href: "https://transring.neocities.org/",
    },
    {
        text: "Bucketfish",
        href: "https://webring.bucketfish.me/",
    },
    {
        text: "Vocaloid",
        href: "https://webring.adilene.net/index.php",
    },
];

let tools = [
    {
        text: "readme.so",
        href: "https://readme.so/",
    },
    {
        text: "Curses",
        href: "https://github.com/mmpneo/curses",
    },
    {
        text: "NekoWeb",
        href: "https://nekoweb.org/",
    },
    {
        text: "Blahaj Land",
        href: "https://blahaj.land",
    },
    {
        text: "AmSat",
        href: "http://amsat.org.ar/pass.htm",
    },
];

let indexes = [
    {
        text: "Awesome Node Based UIs",
        href: "https://github.com/xyflow/awesome-node-based-uis",
    },
    {
        text: "Language Learning",
        href: "https://www.reddit.com/r/languagelearning/wiki/resources/#wiki_japanese",
    },
];

let featuredVideoLog = [
    {
        text: "COOL TIMES: GRAND TOUR",
        href: "https://www.youtube.com/watch?v=pSQ4q50ipPg",
        note: "Removed on 20 Jan 2025",
    },
    {
        text: "GLITCHX 2024",
        href: "https://youtu.be/q31HGLVBObs?si=MLXuA8Pk3ylqnDie",
    },
    {
        text: "Kirby Dance",
        href: "https://www.youtube.com/watch?v=RzM_-YTnQo0",
    },
];
---

<Layout title="Links" description="List of links to palces on the web">
    <Header motto="Welcome to my index">Links</Header>
    <Block>
        <div class="flex justify-center">
            <div class="md:flex">
                <section class="lg:flex">
                    <div class="p-3 m-2 text-green-100">
                        <ListElement title="Websites" items={websites} />
                    </div>
                    <div class="p-3 m-2 text-blue-100">
                        <ListElement title="Webrings" items={webrings} />
                    </div>
                </section>
                <section class="lg:flex">
                    <div class="p-3 m-2 text-purple-100">
                        <ListElement title="Tools" items={tools} />
                    </div>
                    <div class="p-3 m-2 text-orange-100">
                        <ListElement title="Indexes" items={indexes} />
                    </div>
                </section>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="text-yellow-100">
                <ListElement
                    title="Past Featured Videos"
                    items={featuredVideoLog}
                />
            </div>
        </div>
    </Block>
</Layout>
