---
import Image from "astro/components/Image.astro";

import nbbanner from "../media/buttons/nbbanner.png";
import vencord from "../media/buttons/vencord.webp";
import midna from "../media/buttons/midna.png";
import miaowing from "../media/buttons/miaowing.png";
import flipper from "../media/buttons/flipper.gif";
import button_index from "../media/buttons/88x31.gif";
import fedora from "../media/buttons/fedora.gif";

// Web Buttons
const webButtons = [
    {
        href: "https://flipperzero.one/",
        img: flipper,
        alt: "Flipper Zero Website Button",
    },
    {
        href: "https://ne0nbandit.neocities.org",
        img: nbbanner,
        alt: "Ne0nBandit Street Button",
    },
    {
        href: "https://vencord.dev/",
        img: vencord,
        alt: "Vencord Website Button",
    },
    {
        href: "https://midna.midnight.miami/",
        img: midna,
        alt: "Midna Website Button",
    },
    {
        href: "https://fedoraproject.org/atomic-desktops/",
        img: fedora,
        alt: "Powered by Fedora button",
    },
    {
        href: "https://cyber.dabamos.de/88x31/",
        img: button_index,
        alt: "88x31 button index",
    },
    {
        href: "https://miaow.ing/",
        img: miaowing,
        alt: "Miaowing Website Button",
    },
];

const links = [
    {
        href: "https://github.com/PolyCatDev/catplace",
        text: "Source Code",
    },
    {
        href: "https://htmlforpeople.com/",
        text: "HTML for the People",
    },
];
---

<footer class="bg-background-500 p-4 mt-auto">
    <nav class="m-1 text-center text-foreground-200">
        {
            links.map((link) => (
                <a href={link.href} class="hover:underline m-1">
                    {link.text}
                </a>
            ))
        }
    </nav>
    <div class="flex justify-center flex-wrap">
        {
            webButtons.map((button) => (
                <a href={button.href} class="m-1">
                    <Image
                        width="88"
                        height="31"
                        loading="lazy"
                        src={button.img}
                        alt={button.alt}
                    />
                </a>
            ))
        }
    </div>
</footer>
