---
interface Props {
    text?: string;
    src: string;
    title: string;
    width?: string;
    height?: string;
    rounded?: boolean;
}

const { src, text, title = "iFrame", width = "100%", height = "100%", rounded = true } = Astro.props;

import Block from "../layouts/Block.astro";

let hasTitleText = false;
if (text !== null) {
    hasTitleText = true;
}

let borderRadius = "rounded-2xl"
if (rounded === false) {
    borderRadius = "rounded-none";
}
---

<Block>
    { hasTitleText && <h2 class="text-center pb-4 font-bold text-2xl">{text}</h2>}
    <iframe
        class={borderRadius}
        width={width}
        height={height}
        src={src}
        title={title}
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowtransparency="yes"
        allowfullscreen></iframe>
</Block>
