---
import Block from "../layouts/Block.astro";
import { Image } from "astro:assets";

import defaultImg from "../media/kirby-swimming.gif";

interface Props {
    image: ImageMetadata;
    alt: string;
    title: string;
    imageRight?: boolean;
    imageCircle?: boolean;
}
const {
    image = defaultImg,
    alt,
    title = "Default Title",
    imageRight = false,
    imageCircle = true,
} = Astro.props;

let isCircle = "rounded-full";
if (!imageCircle) {
    isCircle = "";
}

let isRight:string;
if (!imageRight) {
    isRight = "flex-row";
} else {
    isRight = "flex-row-reverse";
}
---

<Block>
    <div
        class={`flex flex-col text-center lg:text-left lg:${isRight} place-items-center`}
    >
        <Image
            class={`${isCircle} m-3`}
            src={image}
            width={160}
            alt={alt}
            loading={"eager"}
        />
        <div class="max-w-sm flex flex-col">
            <h3 class="text-xl m-2 font-bold">
                {title}
            </h3>
            <p class="m-2 mt-0">
                <slot />
            </p>
        </div>
    </div>
</Block>
